@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: rgb(3, 124, 124);
  text-transform: uppercase;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid white;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
.navbar-brandd {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 2.6px;
  color: white;
  text-decoration: none;
  font-size: 23px;
}

/* ===================FOOTER==================== */
.footer {
  color: white;
  padding: 20px;
  background: #11a19f;
  background: -webkit-linear-gradient(to right, #d05656, #11a19f);
  background: linear-gradient(to right, #d72424, #11a19f);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 17px;
}
.down:hover {
  border-bottom: 1px solid #f4c429;
  color: #f4c429;
}


.up {
  color: #191717;
  font-size: 22px;
  font-style: oblique;
  font-weight: 600;
}

/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styy {
  text-align: center;
  font-size: 18px;
  color: rgb(233, 62, 5);
}
.sty {
  color: white;
  border: 2px solid black;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


/* ===========Product Link============== */
.product-link{
  text-decoration: none !important;
  color: black;
}

.great{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.great1{
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: red;
  padding: 3px;
  letter-spacing: 2px;
}

/* Drop Down  */
.dropdown-menu {
  max-height: 250px; /* Set the maximum height of the dropdown menu */
  max-width:350px ;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
padding: 13px;
}

/* Custom styling for the scrollbar */
.dropdown-menu::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #c6bdbd; /* Set the background color of the scrollbar track */
  border-radius: 2px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #088b7c; /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Set the border radius of the scrollbar thumb */
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #f03636; /* Set the color of the scrollbar thumb on hover */
}